body{
	background:#FFF;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	padding:0px;
	margin:0px;	
}
*{
	font-size:12px;	
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.break{clear:both;width:100%;}
.erro{padding:5px 10px;height:25px;line-height:25px;;background:#F66;border:1px solid #F00;font-weight:bold;}
.sucesso{padding:5px 10px;height:25px;line-height:25px;;background:#0C6;border:1px solid #090;font-weight:bold;}
#centro{
	width:1003px;
	margin:auto;	
}
#centro .a-logo{text-decoration:none;}
#centro .logo{
	width:1003px;
	height:290px;
	background:url(../imagens/header-back.jpg) no-repeat center;
	font-size:40px;
	color:#FF8204;	
	margin:15px 0px 0px 0px;
}
#centro .logo span{
	font-size:40px;
	color:#FFFFFF;	
}
#centro #menu .usuario{
	display:inline-block;
	float:right;
	color:#FFF;	
	float:right;	
	margin:0px 10px 0px 0px;
}
#centro #menu .usuario a{
	color:#FFFFFF;
	font-size:12px;	
	font-weight:bold;
}
#centro #menu .usuario span{
	font-size:14px;	
}
#centro #menu{
	width:1003px;
	height:40px;	
	line-height:40px;
	background:#000;
	opacity:0.9;
	text-align:left;
}
#centro #menu a{
	color:#FFF;
	padding:14px 15px;
}
#centro #meio{
	width:1003px;
	height:400px;	
	background:#FFF;
	position:relative;
}
#centro #meio .coluna{
	color:#000;
	float:left;
	width:290px;
	height:315px;
	margin:25px 0px 0px 33px;
	position:relative;
}
#centro #meio .coluna .titulo{
	height:25px;
	margin:0px 0px 10px 0px;
	text-align:left;
	font-size:16px;
	font-weight:bold;
	color:#FF8204;
}
#centro #meio .coluna .texto{
	margin:5px 0px 0px 0px;
	text-align:justify;
	font-size:11px;
	font-weight:bold;
}

#centro #infos{
	width:983px;
	min-height:300px;	
	padding:10px;
	background:#FFF;
}
#centro  #infos .ultimas-doacoes *{
	font-size:14px;	
}
#centro  #infos .titulo{
	color:#FF8204;
	height:25px;
	margin:0px 0px 10px 0px;
	text-align:left;
	font-size:18px;
	font-weight:bold;
}
#footer{
	width:1003px;
	height:40px;	
	line-height:40px;
	background:#000;
	opacity:0.9;
	text-align:left;
	color:#FFF;
	text-align:center;
}





